In [33]:
# Open a file for reading and get the file name and text, then close
file = open("data/niche_expertise.txt", "r")
print("File name: ", file.name)
text = file.readlines()
print("File content:\n", text)
file.close()

data/niche_expertise.txt
('File content:\n', ['Our niche expertise covers: \n', '\xe2\x80\xa2 Go-to-Market Roles:  Account Executive  /  Pre-sales Consultant  /  VP Sales  /  Business Development Executive\n', '\xe2\x80\xa2 Big Data:  Hadoop  /  Spark  /  Cloudera  /   MapR Tech  /  Hortonworks \n', '\xe2\x80\xa2 Data Science:  R  /  Python  /  Matlab  /  SAS / Cognos\n', '\xe2\x80\xa2 BI Suite:  MSBI  /  Tableau  /  Sisense  /  Power BI  /  QlikView\n', '\xe2\x80\xa2 Machine Learning:  Keras  /  Torch  /   Ms Azure  /  AML  /  Tensorflow\n', '\xe2\x80\xa2 Cloud:  AWS  /  Azure  /  Google Cloud Platform\n', '\xe2\x80\xa2 Software Engineering: JavaScript (Vue, React, Angular etc)  /  TypeScript  /  Java (Spring, MVC, Struts etc)  /  .NET \n', '\xe2\x80\xa2 Other Digital Roles: Business Analysis  /   Automated Test Engineering  /  Project Management  /  Scrum Master  /  Platform Engineering'])

In [14]:
#Working with the with statements, the file gets closed by the end of the indent block
with open("data/niche_expertise.txt", "r") as my_file:
    print("File name: ", file.name)
    lines = my_file.readlines()
    print("File lines:\n", lines)

#We cancheck if the file is closed but we can NOT read its content any more
print("Is file closed:", my_file.closed)

#The data from within the indent block is still present
print("File content:\n", lines)

('File name: ', 'data/niche_expertise.txt')
('File lines:\n', ['Our niche expertise covers: \n', '\xe2\x80\xa2 Go-to-Market Roles:  Account Executive  /  Pre-sales Consultant  /  VP Sales  /  Business Development Executive\n', '\xe2\x80\xa2 Big Data:  Hadoop  /  Spark  /  Cloudera  /   MapR Tech  /  Hortonworks \n', '\xe2\x80\xa2 Data Science:  R  /  Python  /  Matlab  /  SAS / Cognos\n', '\xe2\x80\xa2 BI Suite:  MSBI  /  Tableau  /  Sisense  /  Power BI  /  QlikView\n', '\xe2\x80\xa2 Machine Learning:  Keras  /  Torch  /   Ms Azure  /  AML  /  Tensorflow\n', '\xe2\x80\xa2 Cloud:  AWS  /  Azure  /  Google Cloud Platform\n', '\xe2\x80\xa2 Software Engineering: JavaScript (Vue, React, Angular etc)  /  TypeScript  /  Java (Spring, MVC, Struts etc)  /  .NET \n', '\xe2\x80\xa2 Other Digital Roles: Business Analysis  /   Automated Test Engineering  /  Project Management  /  Scrum Master  /  Platform Engineering'])
('Is file closed:', True)
('File content:\n', ['Our niche expertise covers: \n', '\xe2\x80\xa2 Go-to-Market Roles:  Account Executive  /  Pre-sales Consultant  /  VP Sales  /  Business Development Executive\n', '\xe2\x80\xa2 Big Data:  Hadoop  /  Spark  /  Cloudera  /   MapR Tech  /  Hortonworks \n', '\xe2\x80\xa2 Data Science:  R  /  Python  /  Matlab  /  SAS / Cognos\n', '\xe2\x80\xa2 BI Suite:  MSBI  /  Tableau  /  Sisense  /  Power BI  /  QlikView\n', '\xe2\x80\xa2 Machine Learning:  Keras  /  Torch  /   Ms Azure  /  AML  /  Tensorflow\n', '\xe2\x80\xa2 Cloud:  AWS  /  Azure  /  Google Cloud Platform\n', '\xe2\x80\xa2 Software Engineering: JavaScript (Vue, React, Angular etc)  /  TypeScript  /  Java (Spring, MVC, Struts etc)  /  .NET \n', '\xe2\x80\xa2 Other Digital Roles: Business Analysis  /   Automated Test Engineering  /  Project Management  /  Scrum Master  /  Platform Engineering'])

In [17]:
#Read the file content not as lines but just with read
with open("data/niche_expertise.txt", "r") as my_file:
    content = my_file.read()

print("File ", my_file.name, " content: ", content)

('File ', 'data/niche_expertise.txt', ' content: ', 'Our niche expertise covers: \n\xe2\x80\xa2 Go-to-Market Roles:  Account Executive  /  Pre-sales Consultant  /  VP Sales  /  Business Development Executive\n\xe2\x80\xa2 Big Data:  Hadoop  /  Spark  /  Cloudera  /   MapR Tech  /  Hortonworks \n\xe2\x80\xa2 Data Science:  R  /  Python  /  Matlab  /  SAS / Cognos\n\xe2\x80\xa2 BI Suite:  MSBI  /  Tableau  /  Sisense  /  Power BI  /  QlikView\n\xe2\x80\xa2 Machine Learning:  Keras  /  Torch  /   Ms Azure  /  AML  /  Tensorflow\n\xe2\x80\xa2 Cloud:  AWS  /  Azure  /  Google Cloud Platform\n\xe2\x80\xa2 Software Engineering: JavaScript (Vue, React, Angular etc)  /  TypeScript  /  Java (Spring, MVC, Struts etc)  /  .NET \n\xe2\x80\xa2 Other Digital Roles: Business Analysis  /   Automated Test Engineering  /  Project Management  /  Scrum Master  /  Platform Engineering')

In [23]:
#Read file line by line
with open("data/niche_expertise.txt", "r") as my_file:
    line = "dummy"
    while(line):
        line = my_file.readline()
        print(line)

Our niche expertise covers:

• Go-to-Market Roles:  Account Executive  /  Pre-sales Consultant  /  VP Sales  /  Business Development Executive

• Big Data:  Hadoop  /  Spark  /  Cloudera  /   MapR Tech  /  Hortonworks

• Data Science:  R  /  Python  /  Matlab  /  SAS / Cognos

• BI Suite:  MSBI  /  Tableau  /  Sisense  /  Power BI  /  QlikView

• Machine Learning:  Keras  /  Torch  /   Ms Azure  /  AML  /  Tensorflow

• Cloud:  AWS  /  Azure  /  Google Cloud Platform

• Software Engineering: JavaScript (Vue, React, Angular etc)  /  TypeScript  /  Java (Spring, MVC, Struts etc)  /  .NET

• Other Digital Roles: Business Analysis  /   Automated Test Engineering  /  Project Management  /  Scrum Master  /  Platform Engineering

In [26]:
#Read file line by line
with open("data/niche_expertise.txt", "r") as my_file:
    while(True):
        line = my_file.readline()
        if (not line):
            break
        else:
            print(line)

Our niche expertise covers:

• Go-to-Market Roles:  Account Executive  /  Pre-sales Consultant  /  VP Sales  /  Business Development Executive

• Big Data:  Hadoop  /  Spark  /  Cloudera  /   MapR Tech  /  Hortonworks

• Data Science:  R  /  Python  /  Matlab  /  SAS / Cognos

• BI Suite:  MSBI  /  Tableau  /  Sisense  /  Power BI  /  QlikView

• Machine Learning:  Keras  /  Torch  /   Ms Azure  /  AML  /  Tensorflow

• Cloud:  AWS  /  Azure  /  Google Cloud Platform

• Software Engineering: JavaScript (Vue, React, Angular etc)  /  TypeScript  /  Java (Spring, MVC, Struts etc)  /  .NET

• Other Digital Roles: Business Analysis  /   Automated Test Engineering  /  Project Management  /  Scrum Master  /  Platform Engineering

In [28]:
#Read file line by line
with open("data/niche_expertise.txt", "r") as my_file:
    lines = my_file.readlines()
    for line in lines:
        print(line)

Our niche expertise covers:

• Go-to-Market Roles:  Account Executive  /  Pre-sales Consultant  /  VP Sales  /  Business Development Executive

• Big Data:  Hadoop  /  Spark  /  Cloudera  /   MapR Tech  /  Hortonworks

• Data Science:  R  /  Python  /  Matlab  /  SAS / Cognos

• BI Suite:  MSBI  /  Tableau  /  Sisense  /  Power BI  /  QlikView

• Machine Learning:  Keras  /  Torch  /   Ms Azure  /  AML  /  Tensorflow

• Cloud:  AWS  /  Azure  /  Google Cloud Platform

• Software Engineering: JavaScript (Vue, React, Angular etc)  /  TypeScript  /  Java (Spring, MVC, Struts etc)  /  .NET

• Other Digital Roles: Business Analysis  /   Automated Test Engineering  /  Project Management  /  Scrum Master  /  Platform Engineering

In [4]:
#Read by a number of characters
with open("data/niche_expertise.txt", "r") as my_file:
    line = my_file.read(10)
    print(line)
    line = my_file.read(20)
    print(line)
    line = my_file.read(30)
    print(line)

Our niche
expertise covers:
�
�� Go-to-Market Roles:  Accoun

In [7]:
#Iterate through the lines easily
with open("data/niche_expertise.txt", "r") as my_file:
    for line in my_file:
        print(line)

Our niche expertise covers:

• Go-to-Market Roles:  Account Executive  /  Pre-sales Consultant  /  VP Sales  /  Business Development Executive

• Big Data:  Hadoop  /  Spark  /  Cloudera  /   MapR Tech  /  Hortonworks

• Data Science:  R  /  Python  /  Matlab  /  SAS / Cognos

• BI Suite:  MSBI  /  Tableau  /  Sisense  /  Power BI  /  QlikView

• Machine Learning:  Keras  /  Torch  /   Ms Azure  /  AML  /  Tensorflow

• Cloud:  AWS  /  Azure  /  Google Cloud Platform

• Software Engineering: JavaScript (Vue, React, Angular etc)  /  TypeScript  /  Java (Spring, MVC, Struts etc)  /  .NET

• Other Digital Roles: Business Analysis  /   Automated Test Engineering  /  Project Management  /  Scrum Master  /  Platform Engineering

In [12]:
# Write into the file
file_name = "data/some_data.txt"
with open(file_name, "w") as my_file:
    my_file.write("what are you?\n")
    my_file.write("I shall prevale!\n")

with open(file_name, "r") as my_file:
    for line in my_file:
        print(line)

what are you?

I shall prevale!

In [14]:
# Append into the file
file_name = "data/some_data.txt"
with open(file_name, "a") as my_file:
    my_file.write("I am not sure\n")
    my_file.write("There is no purpose\n")

with open(file_name, "r") as my_file:
    for line in my_file:
        print(line)

what are you?

I shall prevale!

I am not sure

There is no purpose

I am not sure

There is no purpose

In [6]:
#Using pandas to load a csv file into a data frame
import pandas as pd

file_name = "data/msleep_ggplot2.csv"

df = pd.read_csv(file_name)

print(df.keys())

df.head()

Index([u'name', u'genus', u'vore', u'order', u'conservation', u'sleep_total',
       u'sleep_rem', u'sleep_cycle', u'awake', u'brainwt', u'bodywt'],
      dtype='object')

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
0,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,NaN,NaN,11.9,NaN,50.000
1,Owl monkey,Aotus,omni,Primates,NaN,17.0,1.8,NaN,7.0,0.01550,0.480
2,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN,1.350
3,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
4,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.42300,600.000

In [2]:
#Using pandas to load a excel file into a data frame
import pandas as pd

file_name = "data/fin_sample.xlsx"
df = pd.read_excel(file_name)

df.head()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,1618.5,3,20,32370.0,0.0,32370.0,16185.0,16185.0,2014-01-01,1,January,2014
1,Government,Germany,Carretera,None,1321.0,3,20,26420.0,0.0,26420.0,13210.0,13210.0,2014-01-01,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,3,15,32670.0,0.0,32670.0,21780.0,10890.0,2014-06-01,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,3,15,13320.0,0.0,13320.0,8880.0,4440.0,2014-06-01,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,3,15,37050.0,0.0,37050.0,24700.0,12350.0,2014-06-01,6,June,2014

In [11]:
import pandas as pd

#Create a data frame out of a dictionary
Kids = {"Names":["Katerina","Georgi","Juri","Denis"],
        "Year":[2011, 2017, 2017, 2019],
        "Mother": ["Galina", "Galina", "Galina", "Galina"],
        "Father": ["Ivan", "Ivan", "Ivan", "Ivan"]}

df = pd.DataFrame(Kids)

df.head()

  Father  Mother     Names  Year
0   Ivan  Galina  Katerina  2011
1   Ivan  Galina    Georgi  2017
2   Ivan  Galina      Juri  2017
3   Ivan  Galina     Denis  2019

In [14]:
#Sub select some columns - this results in a new data frame
df[['Names', 'Year']]

      Names  Year
0  Katerina  2011
1    Georgi  2017
2      Juri  2017
3     Denis  2019

In [18]:
#Access the elements of the data frame by indexes and names
print(df.iloc[0,0])
print(df.iloc[1,0])
print(df.iloc[2,0])
print(df.iloc[3,0])
print(df.loc[0,'Year'])
print(df.loc[1,'Year'])
print(df.loc[2,'Year'])
print(df.loc[3,'Year'])

Ivan
Ivan
Ivan
Ivan
2011
2017
2017
2019

In [22]:
#Slice the data frame
df_slice = df.loc[0:2, 'Mother':"Year"]
df_slice.head()

   Mother     Names  Year
0  Galina  Katerina  2011
1  Galina    Georgi  2017
2  Galina      Juri  2017

In [28]:
#Get the unique column values
df = pd.DataFrame({"Name":["Ivan","Galina","Ivan","Galina"],
                   "Year":[2019, 2019, 2020, 2020],
                   "Income":[1000, 2000, 2000, 1000]})

print(df['Income'].unique())

[1000 2000]

In [31]:
# Selectors with pandas data frames
print(df['Year'] > 2019)

0    False
1    False
2     True
3     True
Name: Year, dtype: bool

In [33]:
#Get the data using the selectors
print(df[df['Year'] > 2019])

   Income    Name  Year
2    2000    Ivan  2020
3    1000  Galina  2020

In [37]:
#Safe the resulting data into a csv file
df = pd.DataFrame({"Name":["Ivan","Galina","Ivan","Galina"],
                   "Year":[2019, 2019, 2020, 2020],
                   "Income":[1000, 2000, 2000, 1000]})

file_name = "data/family.csv"
df.to_csv(file_name)

with open(file_name, "r") as my_file:
    print(my_file.read())

,Income,Name,Year
0,1000,Ivan,2019
1,2000,Galina,2019
2,2000,Ivan,2020
3,1000,Galina,2020

In [42]:
df = pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})
print(df['a'] == 1)

res = (df['a'] == 1)
print(type(res))

0     True
1    False
2     True
Name: a, dtype: bool
<class 'pandas.core.series.Series'>